* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "averta cy w10";
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(43, 42, 42);
}

.container {
  gap: 20px;
  height: 115vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 200px;
  height: 20px;
  background-color: rgb(97, 97, 97);
}

.innerbox {
  width: 167px;
  height: 20px;
  background-color: green;
}

.btn {
  cursor: pointer;
  font-size: 2rem;
  color: wheat;
}


.percentage{
    color: wheat;
}